*{ -fx-base-color-theme: #009999;
   -fx-base-color-titles: #ffffff;
   -fx-base-color-information: #454549;
   -fx-base-color-focused: #999999;
}

.mfx-text-field {
    -mfx-main: -fx-base-color-theme;
    -fx-prompt-text-fill: -fx-base-color-theme;
    -mfx-float-mode: INLINE;
    -fx-font-size: 14px;
    -fx-min-height: 52px;
    -fx-pref-height: 52px;
    -fx-max-height: 52px;
    -fx-text-fill: -fx-base-color-information;
    -fx-font-weight: bold;
}

.mfx-button, .mfx-button:focused {
    -fx-background-color: -fx-base-color-theme;
    -mfx-button-type: RAISED;
    -fx-border-color: -fx-base-color-titles;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-opacity: 1;
    -fx-content-display: left;
    -fx-text-fill: -fx-base-color-titles;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-cursor: hand;
}

.mfx-button:armed {
    -fx-border-color: -fx-base-color-information;
}

.mfx-button:focused {
    -fx-border-color: -fx-base-color-focused;
}

.mfx-button:hover {
    -fx-border-color: -fx-base-color-focused;
    -fx-background-color: -fx-base-color-theme;
    -fx-background-radius: 10px;
}

.jfx-btn-exit, .jfx-btn-exit:focused, .jfx-btn-exit:hover {
    -fx-background-color: #C60000;
}

.fx-label {
    -fx-text-fill: -fx-base-color-titles;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: BOTTOM_CENTER;
}

.jfx-btn-torneo > ImageView {
    -fx-image: url("../Resources/Torneo-48.png");
}

.jfx-btn-info > ImageView {
    -fx-image: url("../Resources/Informacion-48.png");
}

.jfx-btn-anadir > ImageView {
    -fx-image: url("../Resources/Agregar-48.png");
}

.jfx-btn-exit > ImageView {
    -fx-image: url("../Resources/Salida-48.png");
}

.jfx-panel-fondo{
    -fx-background-color: -fx-color-base-information;/*si ve error
    cambiar a -fx-base-color-titles*/
    -fx-opacity: 1;
}

.jfx-panel-fondo > VBox {
    -fx-background-color: -fx-base-color-information;
    -fx-background-radius: 5px;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;    
}

.jfx-panel-fondo > HBox {
    -fx-background-color: -fx-base-color-theme;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

.jfx-panel-fondo-tourney {
    -fx-background-color: -fx-base-color-theme;
    -fx-opacity: 1;
}

.jfx-panel-fondo-tourney > HBox {
    -fx-background-color: -fx-base-color-theme;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 40;
    -fx-alignment: CENTER-LEFT;
}

.jfx-image-View-Teams{
    -fx-background-color: -fx-base-color-information;
    -fx-background-radius: 30px;
}

.jfx-image-View-Teams > ImageView{
    -fx-image: url("../Resources/Grupo-300.png")
}

.jfx-image-View-Sport{
    -fx-background-color: -fx-base-color-information;
    -fx-background-radius: 30px;
}

.jfx-image-View-Sport > ImageView{
    -fx-image: url("../Resources/Bola-300.png")
}

.jfx-panel-black-fondo{
    -fx-background-color: -fx-base-color-information;
    -fx-opacity: 1;
}

.jfx-text-field-smaller {
    -fx-font-size: 12px;
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
}
.jfx-image-View-Search{
     -fx-image: url("../Resources/Lupa.png")
}

.jfx-table-view-format {
    -fx-background-color: -fx-base-color-titles;
    -fx-background-radius: 7px;
    -fx-cursor: hand;
    -fx-border-color: -fx-base-color-theme;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

#infoTableColumn {
    -fx-text-fill: -fx-base-color-information;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#infoTableColumn:hover {
    -fx-background-color: -fx-base-color-focused;
    -fx-cursor: hand;
}

#infoTableColumn:cell-selection {
    -fx-background-color: -fx-base-color-theme;
}

.jfx-time-input {
    -fx-spacing: 15;
    -fx-alignment: center;
}

.jfx-text-field-time {
    -mfx-main: -fx-base-color-theme;
    -mfx-float-mode: disabled;
    -fx-font-size: 12px;
    
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-min-width: 40px;
    -fx-max-width: 80px;
    
    -fx-background-color: -fx-base-color-titles;
    -fx-background-radius: 10px;
    -fx-border-color: -fx-base-color-theme;
    -fx-border-width: 4px;
    -fx-border-radius: 5px;
    -fx-text-fill: -fx-base-color-information;
    -fx-font-weight: bold;
}

.mfx-slider-bar {
    -mfx-main: #009999;
    -fx-background-color: #009999;
    -fx-min-height: 3px;
    -fx-pref-height: 3px;
    -fx-max-height: 3px;
    -fx-min-width: 130px;
    -fx-pref-width: 130px;
    -fx-max-width: 130px;
}

.mfx-slider-track {
    -mfx-main: #009999;
    -fx-background-color: #009999;
    -fx-background-radius: 5px;
}

.mfx-slider-thumb {
    -mfx-main: #009999;
    -fx-background-color: #009999;
    -fx-border-width: 2px;
    -fx-background-radius: 50%;
    -fx-pref-width: 11px;
    -fx-pref-height: 7px;
    -fx-max-width: 11px;
    -fx-max-height: 7px;
}

.jfx-match-display {
    -fx-background-color: -fx-base-color-theme;
    -fx-padding: 10 10 10 10;
}

.jfx-match-display > HBox, .jfx-match-display > VBox {
    -fx-background-color: -fx-base-color-information;
    -fx-background-radius: 5px;
    -fx-padding: 30 30 30 30;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
    -fx-opacity: 1;
}

.jfx-match-team-vbox-format {
    -fx-spacing: 20;
}

.jfx-match-team-vbox-format > ImageView {
    -fx-image: url("../Resources/Grupo-300.png");
}

.jfx-text-field-match-score{
    -fx-background-color: -fx-base-color-theme;
    -fx-background-radius: 5px;
    -fx-text-fill: -fx-base-color-titles;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

