
*{ -fx-base-color-theme: #009999;
   -fx-base-color-titles: #ffffff;
   -fx-base-color-information: #454549;
   -fx-base-color-focused: #999999;
}

.mfx-text-field {
    -mfx-main: -fx-base-color-theme;
    -fx-prompt-text-fill: -fx-base-color-theme;
    -mfx-float-mode: INLINE;
    -fx-font-size: 14px;
    -fx-min-height: 52px;
    -fx-pref-height: 52px;
    -fx-max-height: 52px;
    -fx-text-fill: -fx-base-color-information;
    -fx-font-weight: bold;
}

.mfx-button {
    -fx-background-color: -fx-base-color-theme;
    -mfx-button-type: RAISED;
    -fx-border-color: white;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-opacity: 1; 
    -fx-content-display: left;
    -fx-text-fill: -fx-base-color-titles;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: TOP_LEFT;
    -fx-cursor: hand;
}

.fx-label {
    -fx-text-fill: -fx-base-color-titles;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: BOTTOM_CENTER;
}

.mfx-button:hover {
    -fx-border-color: -fx-base-color-focused;
}

.mfx-button:focused {
    -fx-background-color: -fx-base-color-theme;
    -fx-background-radius: 10px;
    -fx-border-color: -fx-base-color-focused;
}

.mfx-button:armed {
    -fx-border-color: white;
}

.jfx-btn-torneo > ImageView {
    -fx-image: url("../Resources/Torneo-48.png");
}

.jfx-btn-info > ImageView {
    -fx-image: url("../Resources/Informacion-48.png");
}

.jfx-btn-anadir > ImageView {
    -fx-image: url("../Resources/Agregar-48.png");
}

.jfx-panel-fondo{
    -fx-background-color: -fx-color-base-focused;
    -fx-opacity: 1;
}

.jfx-panel-fondo > VBox {
    -fx-background-color: -fx-base-color-information;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;    
}

.jfx-panel-fondo > HBox {
    -fx-background-color: -fx-base-color-theme;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

.jfx-image-View-Teams-Sport{
    -fx-background-color: -fx-base-color-information;
    -fx-background-radius: 30px;
}

.jfx-image-View-Teams-Sport > ImageView{
    -fx-image: url("../Resources/Grupo-300.png")
}

