# Ignorar archivos generados por NetBeans
nbproject/private/
nbbuild/
build/
dist/
nbactions.xml
nb-configuration.xml

# Ignorar la carpeta target generada por Maven
target/

# Ignorar archivos de configuración de IDEs
.idea/
*.iml
*.ipr
*.iws

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar logs y archivos temporales
*.log
*.tmp
hs_err_pid*
